//- mixin subscribeForm()
//- 	.subscribe
//- 		.subscribefrm
//- 			input.subscribeemail(type="text", placeholder="Nhập email của bạn...")
//- 			button.subscribebutton Gửi
//- mixin PugImg(url="./img/1.jpg")
//- 	img(data-src=url, alt="", class="lozad " + attributes.class)
//- mixin btnViewAll(text="Xem thêm")
//- 	a(href="" x-link class='btn-primary-2 btn ' + attributes.class)
//- 		span=text
//- 		img(src=imgButton, alt="", class="w-5 h-5 svg")
//- mixin HeaderLanguageVertical()
//- 	ul 
//- 		li.wpml-ls-item
//- 			a(href="") 
//- 				span.wpml-ls-native VN
//- 		ul 
//- 			li 
//- 				a(href="") 
//- 					span EN
//- mixin HeaderLanguageHorizontal()
//- 	ul 
//- 		li.wpml-ls-item
//- 			a(href="") 
//- 				span.wpml-ls-native VN
//- 		li.wpml-ls-item
//- 			a(href="") 
//- 				span.wpml-ls-native VN
//- mixin BtnPrimary(text="")
//- 	a(href="", class='btn-primary btn ' + attributes.class)
//- 		span=text
mixin title(title, additionalClasses = "")
    h3(class=`text-5xl font-medium rem:leading-[48px] text-Second/950 font-oswald max-md:text-3xl ${additionalClasses}`)= title
mixin titleHeading(title)
    h2(class="text-6xl font-oswald font-medium rem:leading-[64px] text-center text-Second/950 mb-10")= title


mixin banner(image)
    .banner-image 
        a(href="#" class="ratio:pt-[650_1920] w-full h-full")
            img(src=image, alt="" class="w-full h-full") 
mixin breadcum(...items)
    .breadcum(class="py-3")
        .container
            ol(class="flex items-center gap-5 pb-3 border-b border-b-neutral-200")
                each item, index in items
                    li(class=(index !== items.length - 1 ? "pr-5 border-r-4 border-r-Neutral/500 main" : ""))
                        a(href=item.link ? item.link : "#" class="rem:text-[16px] text-Primary/Blue font-normal leading-6")
                            if item.icon
                                i(class=item.icon)
                            else
                                = item.name

mixin project(image, title, desc)
    .project-3-item 
        .project-3-image(class="relative z-10 group")
            .project-3-image-content(class="absolute top-0 left-0 h-full w-full bg-Primary/Blue opacity-0 group-hover:opacity-80 z-30 p-5 text-Neutral/White flex flex-col justify-between rounded-lg transition-opacity duration-300 ease-in-out cursor-pointer") 
                .project-3-image-content-item 
                    span Quy mô dự án :
                    h3 99 Căn hộ biệt thự song lập và đơn lập
                .project-3-image-content-item 
                    span Quy mô dự án :
                    h3 99 Căn hộ biệt thự song lập và đơn lập 
                .project-3-image-content-item 
                    span Quy mô dự án :
                    h3 99 Căn hộ biệt thự song lập và đơn lập  
            a(href="#" class="img-ratio ratio:pt-[247_440]")
                img(src=image, alt="" class="w-full h-full rounded-lg") 
        .project-3-content(class="mt-6 max-md:mt-3")
            h3(class="text-xl leading-7 font-bold")= title
            p(class="rem:text-[16px] font-normal leading-6 text-Neutral/Black max-md:leading-5")= desc
mixin button(title, href = '#', extraClass = '', iconClass = 'fa-regular fa-angle-down')
    a(href=href class=`py-3 px-8 text-[1rem] font-medium leading-6 text-white bg-Primary/Red rounded-lg flex items-center gap-2 ${extraClass}`)
        | #{title}
        if iconClass
            i(class=`${iconClass}`)



mixin newsLeft(image, date, name, title, desc)
    .news-left-item 
        .news-left-image(class="overflow-hidden rounded-lg mb-4") 
            a(href="./newsDetail.html" class="img-ratio ratio:pt-[408_680] hover:scale-105 rounded-lg")
                img(src=image, alt="" class="w-full h-full rounded-lg")  
        .news-date(class="rem:text-[16px] text-neutral-500 font-normal leading-6 flex items-center gap-3") 
            span= date
            .dot(class="w-1 h-1 rounded-full bg-Neutral/500 z-10")
            span= name
        h3(class="text-Second/950 rem:text-[24px] font-semibold leading-8 pb-4 border-b border-b-neutral-50 mb-4 hover:text-Primary/Red cursor-pointer transition-all ease-in-out")= title
        p(class="rem:text-[16px] text-Neutral/500 main font-normal leading-6 overflow-ellipsis line-clamp-2")= desc
mixin newsRight(image, date, name, title, desc)
    .news-cols
        .news-col-item(class="flex items-center")
            .news-col-flex(class="flex items-center gap-5")  
                .news-col-image(class="w-[37%] max-lg:w-full max-md:mb-4") 
                    a(href="./newsDetail.html" class="ratio:pt-[160_240] relative block")
                        img(src=image, alt="" class="w-full h-full rounded-lg object-cover absolute top-0 left-0")
                .news-col-content(class="w-[63%] max-lg:w-full") 
                    .news-date(class="text-[12px] text-Neutral/500 main font-normal rem:leading-[18px] flex items-center gap-3 mb-3") 
                        span= date
                        .dot(class="w-1 h-1 rounded-full bg-neutral-500 z-10")
                        span= name 
                    h3(class="text-Second/950 text-lg font-semibold rem:leading-[26px] pb-2 border-b border-b-neutral-50 mb-3 hover:text-Primary/Red cursor-pointer transition-all ease-in-out max-md:mb-2")= title
                    p(class="rem:text-[14px] text-neutral-500 font-normal leading-[18px] overflow-ellipsis line-clamp-2")= desc
mixin newsHeading(newsLink1, newsLink2, newsLink3, newsLink4,) 
    .news-heading(class="flex items-center justify-between max-md:flex-col max-md:gap-5")
        +title("Tin tức - Sự kiện")
        .project-items(class="flex items-center justify-between gap-4")
            if newsLink1
                .link(class="pr-4 border-r text-Neutral/500 border-r-neutral-200")  
                    a(href="#" class="active")=  newsLink1
            if newsLink2
                .link(class="pr-4 border-r text-Neutral/500 border-r-neutral-200")  
                    a(href="#" )=  newsLink2 
            if newsLink3
                .link(class="pr-4 border-r text-Neutral/500 border-r-neutral-200")  
                    a(href="#" )=  newsLink3
            if newsLink4
                .link(class="pr-4 border-r text-Neutral/500 border-r-neutral-200")  
                    a(href="#")=  newsLink4
mixin news()
    .container 
        +newsHeading("Tất cả", "Tin Megabuild", "Tin dự án")
        .news-wrapper(class="mt-10 flex gap-10 justify-between max-lg:flex-col") 
            .news-left(class="w-2/4 max-md:hidden max-lg:w-full")
                +newsLeft("./img/news.png", "01/10/2024", "Tin dự án" , "Chung tay hành động vì một môi trường làm việc an toàn", "Vừa qua, tại Công trường Dự án Suncasa Central Tân Uyên, Bình Dương, Công ty Cổ phần Megabuild tự hào khi được Đài truyền hình Tỉnh Bình Dương chọn là đơn vị tuyên dương trong việc xây dựng và đảm bảo môi trường làm việc an toàn – vệ sinh lao động.")
            .news-right(class="w-2/4 flex flex-col gap-10 max-lg:w-full max-lg:grid max-md:grid-cols-1 max-lg:grid-cols-2")
                +newsRight("./img/news.png", "01/10/2024", "Tin dự án" , "Chung tay hành động vì một môi trường làm việc an toàn", "Vừa qua, tại Công trường Dự án Suncasa Central Tân Uyên, Bình Dương, Công ty Cổ phần Megabuild tự hào khi được Đài truyền hình Tỉnh Bình Dương chọn là đơn vị tuyên dương trong việc xây dựng và đảm bảo môi trường làm việc an toàn – vệ sinh lao động.")
                +newsRight("./img/news.png", "01/10/2024", "Tin dự án" , "Chung tay hành động vì một môi trường làm việc an toàn", "Vừa qua, tại Công trường Dự án Suncasa Central Tân Uyên, Bình Dương, Công ty Cổ phần Megabuild tự hào khi được Đài truyền hình Tỉnh Bình Dương chọn là đơn vị tuyên dương trong việc xây dựng và đảm bảo môi trường làm việc an toàn – vệ sinh lao động.")
                +newsRight("./img/news.png", "01/10/2024", "Tin dự án" , "Chung tay hành động vì một môi trường làm việc an toàn", "Vừa qua, tại Công trường Dự án Suncasa Central Tân Uyên, Bình Dương, Công ty Cổ phần Megabuild tự hào khi được Đài truyền hình Tỉnh Bình Dương chọn là đơn vị tuyên dương trong việc xây dựng và đảm bảo môi trường làm việc an toàn – vệ sinh lao động.")
mixin serviceItem(image, title)
    .service-item 
        .service-image(class="mb-5 rounded-xl overflow-hidden") 
            a(href="#" class="ratio:pt-[398_680] rounded-xl")
                img(src=image, alt="" class="w-full h-full rounded-xl hover:scale-110 transition-all ease-linear duration-500") 
        p(class="text-lg font-normal rem: text-Neutral/900 leading-[26px]")= title
mixin certificateImage(image)
    .certificateImage
        a(href="#")
            img(src=image, alt="" class="w-full h-full") 
mixin formContact()
    .form-contact-box(class="p-10 rounded-xl bg-Neutral/White shadow-DropshadowLight Light")
        .form-contact-main(class="flex flex-col md:flex-row gap-10")
            .form-left(class="w-full md:w-[30%]") 
                +title("Form liên hệ tư vấn")
            .form-contact-info(class="w-full md:w-[70%]") 
                    h2(class="text-lg font-bold text-neutral-900 rem:leading-[26px] mb-2") Quý khách vui lòng điền thông tin vào mẫu bên dưới, đội ngũ Megabuild sẽ phản hồi email của bạn trong thời gian sớm nhất.
                    form(action="")
                        .form-group(class="flex items-center gap-10 mb-5")
                            .form-field
                                input(type="text" placeholder="Họ và tên" class="w-full") 
                                i.fa-sharp.fa-solid.fa-pen
                            .form-field 
                                input(type="text" placeholder="Email" class="w-full") 
                                i.fa-sharp.fa-solid.fa-pen
                        .form-group(class="flex items-center gap-10")
                            .form-field 
                                input(type="text" placeholder="Số điện thoại" class="w-full") 
                                i.fa-sharp.fa-solid.fa-pen
                            .form-field 
                                input(type="text" placeholder="Nội dung" class="w-full") 
                                i.fa-sharp.fa-solid.fa-pen
                        .form-submit(class="mt-5") 
                            button 
                                i.fa-solid.fa-paper-plane-top

mixin serviceSimilarItem(image, title)
    .service-similar-item 
        .service-similar-image(class="relative group overflow-hidden cursor-pointer") 
            a(href="#" class="ratio:pt-[762_639] group-hover:scale-105 overflow-hidden")
                img(src=image, alt="" class="w-full h-full group-hover:scale-110 transition-all ease-linear duration-300 cursor-pointer") 
            .bg(class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-black/50 to-black/80 z-30 transition-all ease-linear duration-200 group-hover:from-black/10 group-hover:to-black/40")
            .service-similar-icon(class="absolute inset-0 flex items-center justify-center flex-col text-white text-[80px] opacity-0 invisible transition-all duration-500 group-hover:opacity-100 group-hover:visible z-30") 
                a(href="#")
                    i.fa-light.fa-circle-plus
            .service-similar-title(class="absolute bottom-0 py-4 left-1/2 transform -translate-x-1/2 z-30 text-center") 
                h3(class="text-2xl text-white font-medium leading-tight font-oswald")= title
mixin aboutItem(icon, number, title)
    .about-item(class="flex items-center gap-6") 
        .about-icon(class="w-20 h-20 bg-Primary/Blue p-6 inline-flex items-center justify-center rounded") 
            img(src=icon, alt="" class="w-full")
        .about-body(class="flex flex-col gap-2") 
            h2(class="rem:text-[52px] font-medium rem:leading-[60px] font-oswald text-Primary/Red")= number
            span(class="text-Second/950 font-normal leading-7 font-oswald text-xl")= title
mixin aboutSection3(icon, title, desc) 
    .about-3-col 
        .about-3-icon 
            img(src=icon, alt="")
        h3(class="text-5xl font-medium  rem:leading-[48px] text-Second/950 font-oswald")= title
        p= desc